
{{#section 'js'}}
<script>
  $('.addItem').on('click', function () {
    const id = $(this).data('id');
    const quantity=+1;
    $('#txtProId').val(id);
    $('#txtProQuantity').val(quantity);
    $('#frmAddItem').submit();
  })
</script>
{{/section}}
<div class="container1">
  <h2>List Product</h2>
  <div class="row">
     <form id="frmAddItem" action="/cart/add" method="POST">
      <input type="hidden" id="txtProId" name="id">
      <input type="hidden" id="txtProQuantity" name="quantity">
    </form>
    {{#each this.products}}
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/E{{Sup_ID}}.png" width="90%">
        <div class="overlay">
         <a href="/shop/detail/{{Sup_ID}}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
           <a href="https://google.com" class="btn btn-primary"><i class="far fa-heart"></i></a>
             <a data-id="{{Sup_ID}}" class="btn btn-primary addItem"   href="javascript:;" role="button"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>{{Sup_name}}</h3>
        <h5>{{Sup_price}}</h5>
      </div>
    </div>
  {{/each}}
  </div>
</div>